dev/node_modules
dev/.env

prod/node_modules
prod/.env

# Hardhat files
dev/cache
dev/artifacts

prod/cache
prod/artifacts

# TypeChain files
dev/typechain
dev/typechain-types

prod/typechain
prod/typechain-types

# solidity-coverage files
dev/coverage
dev/coverage.json

prod/coverage
prod/coverage.json


